__pycache__/modele.cpython-310.pyc
__pycache__/regression_logistique.cpython-310.pyc
__pycache__/reseau_neurone.cpython-310.pyc
__pycache__/reseau_neurones.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
heart.csv
